name: Python CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'

jobs:
  run_tests:
    name: Tests
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.8']
        toxenv: [quality, django22, django30, django31, django32]

    steps:
    - uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Required System Packages
      run: sudo apt-get update && sudo apt-get install xvfb

    - name: Install Dependencies
      run: |
        mkdir var
        pip install -r requirements/travis.txt

    - uses: browser-actions/setup-chrome@latest
    - run: chrome --version

    - uses: nanasess/setup-chromedriver@master

    - name: Run Tests
      run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
        tox -e ${{ matrix.toxenv }}
